$primary: #ffc468; // лого тайтл
$secondary: #b99050; // утп
$header-menu: #a46b00; // меню в шапке
$secondary2: #ffaf18; // утп 2 часть, тайтл карда, бг кнопки, форм тайтл первая часть
$secondary3: #b99150; // параграф карда, форм тайтл вторая часть
$secondary4: #cba86e; // инпут текст
$btn-text: #382400; // кнопка текст, карточка заголовок
$h3: #bd975c; // выберите свою любимую пиццу
$desc: #181a1a; // описание карточки
$btn-card: #020303; // кнопка карточки
