<section class="offer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-7">
        <h2 class="offer__title">
          Самая вкусная пицца в мире
          <br>
          <span>только в Pizza Cheff</span>
        </h2>
        <div class="offer__list">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="item">
                <div class="item__icon">
                  <img src="./assets/item1.png" alt="icon">
                </div>
                <div class="item__info">
                  <div class="item__title">
                    Лучшее тесто
                  </div>
                  <div class="item__description">
                    Мы создаем тесто только из отборной итальянской муки наивысшего качества
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item__icon">
                  <img src="./assets/item3.png" alt="icon">
                </div>
                <div class="item__info">
                  <div class="item__title">
                    Гарантия качества
                  </div>
                  <div class="item__description">
                    Наша пиццерия получила множество наград и признаний по всему миру
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="item">
                <div class="item__icon">
                  <img src="./assets/item2.png" alt="icon">
                </div>
                <div class="item__info">
                  <div class="item__title">
                    Лучшие повара
                  </div>
                  <div class="item__description">
                    Пиццы готовят самые профессиональные итальянские повара
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item__icon">
                  <img src="./assets/item4.png" alt="icon">
                </div>
                <div class="item__info">
                  <div class="item__title">
                    Отборные рецепты
                  </div>
                  <div class="item__description">
                    Мы используем рецепты от мировых лидеров в изготовлении пиццы
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offer__btn">
          <button type="button">Выбрать пиццу</button>
        </div>
      </div>
      <div class="col-12 offer__pizza-img col-md-12 col-lg-5">
        <img src="./assets/pizza_big.png" alt="pizza_big">
      </div>
    </div>
  </div>
</section>
