@import '../../../styles/variables';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 0;
  box-shadow: 0 3px 7px rgba(152,152,152,0.2);
  background-color: #ffffff;
  font-family: "MullerRegular", sans-serif;
}

.brand {
  display: flex;
  column-gap: 8px;
  align-items: center;

  &__logo {
    height: 32px;

    @media screen and (min-width: 768px) {
      height: 69px;
      width: 68px;
    }
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: "MullerBlack", sans-serif;
    font-size: 14px;
    color: $primary;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @media screen and (min-width: 576px) {
    margin-top: 0;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    flex-direction: column;

    @media screen and (min-width: 400px) {
      flex-direction: row;
    }
  }

  li {
    list-style: none;

    a {
      padding: 5px;
      text-decoration: none;
      font-size: 16px;
      color: $header-menu;
      white-space: nowrap;
      transition: all 0.2s ease-in;

      &:hover {
        color: $primary;
      }
    }
  }
}



